In [14]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('data1.csv')
data.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

# 修改列名为中文名字

In [5]:
data.columns = ['订单编号','车辆编号','用户编号','订单开始时间','起始位置经度','起始位置纬度','订单结束时间','结束位置经度','结束位置纬度','轨迹']
data.head()

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
0,78387,158357,10080,2016-08-20 06:57,121.348,31.389,2016-08-20 07:04,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09,121.508,31.279,2016-08-29 19:31,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17,121.383,31.254,2016-08-13 16:36,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34,121.484,31.320,2016-08-23 21:43,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32,121.407,31.292,2016-08-16 07:41,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

# 按订单编号排序

In [6]:
data.sort_values('订单编号')

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
13943,6,288841,4427,2016-08-28 00:00,121.462,31.313,2016-08-28 00:17,121.455,31.315,"121.455,31.313#121.455,31.314#121.455,31.315#1..."
30512,24,53494,17056,2016-08-28 00:00,121.483,31.262,2016-08-28 00:16,121.479,31.285,"121.479,31.269#121.479,31.270#121.479,31.271#1..."
11302,63,286721,12758,2016-08-28 00:02,121.448,31.204,2016-08-28 00:15,121.444,31.195,"121.444,31.195#121.445,31.194#121.445,31.195#1..."
88777,68,292289,5661,2016-08-28 00:03,121.422,31.270,2016-08-28 00:25,121.404,31.279,"121.404,31.279#121.405,31.279#121.406,31.279#1..."
86073,72,328394,16324,2016-08-28 00:03,121.405,31.232,2016-08-28 00:59,121.373,31.188,"121.373,31.188#121.374,31.188#121.374,31.189#1..."
47731,93,178001,10497,2016-08-28 00:16,121.480,31.282,2016-08-28 00:41,121.471,31.302,"121.470,31.287#121.470,31.288#121.470,31.289#1..."
85192,113,271757,11297,2016-08-28 00:16,121.486,31.248,2016-08-28 01:08,121.555,31.277,"121.486,31.248#121.486,31.249#121.486,31.250#1..."
46633,117,344266,15603,2016-08-28 00:16,121.524,31.257,2016-08-28 00:35,121.515,31.260,"121.515,31.260#121.516,31.260#121.516,31.261#1..."
63204,130,295263,1451,2016-08-28 00:16,121.532,31.308,2016-08-28 00:44,121.547,31.290,"121.531,31.297#121.531,31.298#121.531,31.299#1..."
36829,147,3625,6400,2016-08-28 00:16,121.194,31.148,2016-08-28 01:20,121.340,31.173,"121.338,31.172#121.339,31.172#121.340,31.172#1..."
95609,201,289648,15030,2016-08-28 00:23,121.346,31.258,2016-08-28 00:30,121.342,31.255,"121.343,31.254#121.343,31.255#121.344,31.256#1..."
11497,208,314926,577,2016-08-28 00:23,121.490,31.317,2016-08-28 00:35,121.480,31.311,"121.480,31.311#121.481,31.311#121.482,31.311#1..."
95604,221,174750,16701,2016-08-28 00:23,121.412,31.264,2016-08-28 00:34,121.411,31.272,"121.410,31.265#121.410,31.266#121.410,31.267#1..."
48359,234,316188,743,2016-08-28 00:23,121.548,31.289,2016-08-28 00:45,121.547,31.290,"121.547,31.290#121.548,31.289#121.548,31.290#1..."
92961,289,128886,14846,2016-08-28 00:24,121.475,31.200,2016-08-28 00:36,121.466,31.209,"121.475,31.200#121.475,31.201"
97368,307,351502,1400,2016-08-28 00:24,121.491,31.244,2016-08-28 00:46,121.487,31.243,"121.487,31.241#121.487,31.242#121.487,31.243#1..."
34356,316,200530,11320,2016-08-28 00:24,121.366,31.358,2016-08-28 00:45,121.372,31.360,"121.365,31.359#121.365,31.360#121.366,31.358#1..."
44933,361,275726,4459,2016-08-28 00:25,121.405,31.291,2016-08-28 00:33,121.410,31.288,"121.405,31.290#121.405,31.291#121.406,31.290#1..."
13352,393,336610,8920,2016-08-28 00:33,121.391,31.356,2016-08-28 00:45,121.377,31.363,"121.377,31.363#121.378,31.360#121.378,31.361#1..."
564,396,94959,5037,2016-08-28 00:34,121.416,31.238,2016-08-28 00:46,121.425,31.237,"121.416,31.238#121.417,31.237#121.418,31.236#1..."
41771,409,320791,3427,2016-08-28 00:34,121.426,31.260,2016-08-28 00:50,121.434,31.261,"121.426,31.259#121.427,31.259#121.427,31.260#1..."
22392,438,5007,4396,2016-08-28 00:34,121.441,31.177,2016-08-28 01:00,121.437,31.142,"121.441,31.177#121.442,31.176#121.442,31.177#1..."
50946,444,251684,12105,2016-08-28 00:34,121.374,31.182,2016-08-28 00:52,121.361,31.179,"121.362,31.179#121.362,31.180#121.363,31.180#1..."
66362,497,291739,6930,2016-08-28 00:35,121.418,31.356,2016-08-28 01:01,121.450,31.366,"121.418,31.356#121.419,31.356#121.419,31.357#1..."
78195,539,320889,4243,2016-08-28 00:36,121.487,31.235,2016-08-28 01:15,121.458,31.287,"121.482,31.233#121.483,31.234#121.484,31.234#1..."
711,555,350342,5432,2016-08-28 00:36,121.404,31.239,2016-08-28 00:55,121.409,31.232,"121.404,31.239#121.405,31.236#121.405,31.237#1..."
48385,593,340611,1816,2016-08-28 00:44,121.427,31.265,2016-08-28 01:22,121.428,31.260,"121.427,31.263#121.427,31.264#121.427,31.265#1..."
88028,610,118101,10324,2016-08-28 00:45,121.508,31.272,2016-08-28 01:09,121.504,31.257,"121.499,31.265#121.499,31.269#121.499,31.270#1..."
36014,640,256622,13297,2016-08-28 00:46,121.374,31.313,2016-08-28 01:01,121.377,31.298,"121.374,31.313#121.374,31.314#121.375,31.314#1..."
5761,662,320965,4871,2016-08-28 00:46,121.493,31.293,2016-08-28 01:00,121.484,31.303,"121.484,31.303#121.484,31.304#121.485,31.303#1..."
...,...,...,...,...,...,...,...,...,...,...
44014,1807304,296168,12980,2016-08-26 23:38,121.470,31.249,2016-08-26 23:44,121.466,31.252,"121.466,31.252#121.466,31.253#121.467,31.252#1..."
95762,1807347,282401,11712,2016-08-26 23:39,121.518,31.301,2016-08-27 00:04,121.531,31.305,"121.516,31.300#121.517,31.300#121.517,31.301#1..."
7896,1807368,332438,645,2016-08-26 23:40,121.319,31.202,2016-08-26 23:49,121.310,31.208,"121.311,31.208#121.312,31.206#121.312,31.207#1..."
98479,1807380,165387,17212,2016-08-26 23:41,121.530,31.252,2016-08-27 00:15,121.524,31.281,"121.524,31.279#121.524,31.280#121.524,31.281#1..."
47715,1807384,175940,2764,2016-08-26 23:40,121.421,31.261,2016-08-27 00:00,121.423,31.269,"121.421,31.260#121.421,31.261#121.422,31.259#1..."
42177,1807388,265928,8624,2016-08-26 23:41,121.371,31.246,2016-08-26 23:52,121.375,31.254,"121.369,31.246#121.370,31.246#121.371,31.246"
97577,1807398,113170,2142,2016-08-26 23:41,121.473,31.257,2016-08-27 00:06,121.477,31.261,"121.473,31.256#121.473,31.257#121.473,31.260#1..."
88005,1807407,167033,2905,2016-08-26 23:42,121.437,31.293,2016-08-26 23:53,121.431,31.303,"121.429,31.298#121.429,31.299#121.429,31.300#1..."
85644,1807410,136477,4589,2016-08-26 23:42,121.386,31.315,2016-08-27 00:08,121.388,31.291,"121.379,31.290#121.379,31.291#121.379,31.292#1..."
63362,1807411,66056,12425,2016-08-26 23:42,121.424,31.224,2016-08-27 00:17,121.440,31.258,"121.420,31.234#121.420,31.235#121.420,31.240#1..."
3501,1807476,339183,16585,2016-08-26 23:44,121.534,31.226,2016-08-27 00:12,121.574,31.243,"121.534,31.226#121.535,31.225#121.535,31.226#1..."
8167,1807503,320553,6176,2016-08-26 23:45,121.311,31.239,2016-08-26 23:50,121.317,31.238,"121.311,31.238#121.311,31.239#121.312,31.238#1..."
14421,1807504,148227,1404,2016-08-26 23:45,121.543,31.209,2016-08-27 00:00,121.527,31.212,"121.527,31.211#121.527,31.212#121.528,31.212#1..."
46885,1807522,340185,15234,2016-08-26 23:45,121.381,31.165,2016-08-27 00:14,121.385,31.173,"121.381,31.165#121.382,31.165#121.383,31.166#1..."
94524,1807560,74292,4186,2016-08-26 23:47,121.402,31.077,2016-08-27 00:02,121.385,31.097,"121.385,31.096#121.385,31.097#121.386,31.095#1..."
10824,1807616,319162,3776,2016-08-26 23:49,121.423,31.270,2016-08-26 23:59,121.420,31.279,"121.420,31.279#121.421,31.279#121.422,31.274#1..."
34571,1807632,301851,8651,2016-08-26 23:50,121.308,31.208,2016-08-26 23:59,121.297,31.205,"121.297,31.205#121.298,31.205#121.298,31.206#1..."
70637,1807682,183276,16043,2016-08-26 23:52,121.540,31.307,2016-08-27 00:02,121.516,31.300,"121.516,31.300#121.517,31.301#121.518,31.301#1..."
3866,1807719,158810,13310,2016-08-26 23:53,121.590,31.273,2016-08-26 23:59,121.588,31.269,"121.588,31.269#121.589,31.269#121.590,31.269#1..."
42568,1807723,186484,12983,2016-08-26 23:53,121.430,31.212,2016-08-27 00:03,121.421,31.216,"121.422,31.213#121.422,31.214#121.422,31.215#1..."
26021,1807728,271820,10986,2016-08-26 23:53,121.441,31.308,2016-08-27 00:26,121.451,31.270,"121.441,31.308#121.441,31.309"
10454,1807736,284382,8964,2016-08-26 23:54,121.375,31.237,2016-08-27 00:21,121.335,31.254,"121.335,31.253#121.335,31.254#121.336,31.254#1..."
56379,1807739,1056,12433,2016-08-26 23:54,121.374,31.247,2016-08-27 00:08,121.390,31.246,"121.374,31.246#121.374,31.247#121.375,31.246#1..."
45955,1807760,114338,14651,2016-08-26 23:55,121.423,31.190,2016-08-27 00:47,121.452,31.217,"121.418,31.188#121.419,31.188#121.420,31.188#1..."
36678,1807807,144989,12850,2016-08-26 23:57,121.423,31.249,2016-08-27 00:24,121.426,31.250,"121.420,31.242#121.421,31.242#121.421,31.243#1..."
9694,1807818,243787,15447,2016-08-26 23:57,121.402,31.266,2016-08-27 00:05,121.399,31.269,"121.398,31.269#121.399,31.269#121.400,31.269#1..."
100109,1807840,340412,1872,2016-08-26 23:58,121.410,31.283,2016-08-27 00:22,121.415,31.279,"121.405,31.272#121.405,31.273#121.405,31.274#1..."
95940,1807846,166981,2708,2016-08-26 23:59,121.473,31.290,2016-08-27 00:03,121.470,31.285,"121.470,31.285#121.470,31.286#121.470,31.287#1..."
1459,1807855,154142,4824,2016-08-26 23:59,121.386,31.314,2016-08-27 00:06,121.375,31.316,"121.375,31.316#121.376,31.314#121.376,31.315#1..."
48963,1807864,283994,11009,2016-08-27 00:00,121.532,31.298,2016-08-27 00:19,121.539,31.290,"121.532,31.298#121.533,31.298#121.533,31.299#1..."

# 订单编号大于1807840

In [11]:
data[data['订单编号']>1807840]

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
1459,1807855,154142,4824,2016-08-26 23:59,121.386,31.314,2016-08-27 00:06,121.375,31.316,"121.375,31.316#121.376,31.314#121.376,31.315#1..."
48963,1807864,283994,11009,2016-08-27 00:00,121.532,31.298,2016-08-27 00:19,121.539,31.290,"121.532,31.298#121.533,31.298#121.533,31.299#1..."
95940,1807846,166981,2708,2016-08-26 23:59,121.473,31.290,2016-08-27 00:03,121.470,31.285,"121.470,31.285#121.470,31.286#121.470,31.287#1..."

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
订单编号      102361 non-null int64
车辆编号      102361 non-null int64
用户编号      102361 non-null int64
订单开始时间    102361 non-null object
起始位置经度    102361 non-null float64
起始位置纬度    102361 non-null float64
订单结束时间    102361 non-null object
结束位置经度    102361 non-null float64
结束位置纬度    102361 non-null float64
轨迹        102361 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 7.8+ MB

In [13]:
pd.to_datetime(data['订单开始时间'])

0        2016-08-20 06:57:00
1        2016-08-29 19:09:00
2        2016-08-13 16:17:00
3        2016-08-23 21:34:00
4        2016-08-16 07:32:00
5        2016-08-07 21:00:00
6        2016-08-29 13:39:00
7        2016-08-29 09:21:00
8        2016-08-31 08:16:00
9        2016-08-30 12:49:00
10       2016-08-09 19:51:00
11       2016-08-26 17:57:00
12       2016-08-31 09:53:00
13       2016-08-09 08:33:00
14       2016-08-24 16:32:00
15       2016-08-31 06:51:00
16       2016-08-06 22:30:00
17       2016-08-24 22:52:00
18       2016-08-31 21:31:00
19       2016-08-08 17:31:00
20       2016-08-29 20:20:00
21       2016-08-09 02:34:00
22       2016-08-30 12:17:00
23       2016-08-20 14:25:00
24       2016-08-01 17:57:00
25       2016-08-30 20:15:00
26       2016-08-24 05:49:00
27       2016-08-22 18:27:00
28       2016-08-24 07:45:00
29       2016-08-21 22:13:00
                 ...
102331   2016-08-19 11:10:00
102332   2016-08-12 14:07:00
102333   2016-08-10 08:47:00
102334   2016-08-06 19:21:00
102335   2016-08-28 20:23:00
102336   2016-08-31 09:41:00
102337   2016-08-27 14:47:00
102338   2016-08-25 11:50:00
102339   2016-08-01 11:27:00
102340   2016-08-15 07:12:00
102341   2016-08-20 14:01:00
102342   2016-08-23 13:14:00
102343   2016-08-25 18:31:00
102344   2016-08-06 21:33:00
102345   2016-08-08 00:19:00
102346   2016-08-29 16:06:00
102347   2016-08-23 17:37:00
102348   2016-08-31 18:09:00
102349   2016-08-27 19:39:00
102350   2016-08-17 17:16:00
102351   2016-08-31 09:09:00
102352   2016-08-11 07:42:00
102353   2016-08-26 09:03:00
102354   2016-08-03 10:05:00
102355   2016-08-29 15:39:00
102356   2016-08-28 18:03:00
102357   2016-08-14 20:22:00
102358   2016-08-27 09:54:00
102359   2016-08-20 06:04:00
102360   2016-08-09 10:51:00
Name: 订单开始时间, Length: 102361, dtype: datetime64[ns]

# 骑行最长的时间是多少

In [16]:
np.max(pd.to_datetime(data['订单结束时间'])-pd.to_datetime(data['订单开始时间']))

Timedelta('3 days 06:45:00')

# 骑行的平均时间

In [17]:
np.mean(pd.to_datetime(data['订单结束时间'])-pd.to_datetime(data['订单开始时间']))

Timedelta('0 days 00:17:11.709733')

# 修改时间类型

In [18]:
data['订单开始时间'] = pd.to_datetime(data['订单开始时间'])
data['订单结束时间'] = pd.to_datetime(data['订单结束时间'])

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
订单编号      102361 non-null int64
车辆编号      102361 non-null int64
用户编号      102361 non-null int64
订单开始时间    102361 non-null datetime64[ns]
起始位置经度    102361 non-null float64
起始位置纬度    102361 non-null float64
订单结束时间    102361 non-null datetime64[ns]
结束位置经度    102361 non-null float64
结束位置纬度    102361 non-null float64
轨迹        102361 non-null object
dtypes: datetime64[ns](2), float64(4), int64(3), object(1)
memory usage: 7.8+ MB

# 骑行最长的时间

In [20]:
np.max(data['订单结束时间']-data['订单开始时间'])

Timedelta('3 days 06:45:00')

# 筛选出所有骑行时间在1天以内的

In [22]:
data[data['订单结束时间']-data['订单开始时间']< '1 days 00:00:00']

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
0,78387,158357,10080,2016-08-20 06:57:00,121.348,31.389,2016-08-20 07:04:00,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09:00,121.508,31.279,2016-08-29 19:31:00,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17:00,121.383,31.254,2016-08-13 16:36:00,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34:00,121.484,31.320,2016-08-23 21:43:00,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32:00,121.407,31.292,2016-08-16 07:41:00,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."
5,537030,66346,10335,2016-08-07 21:00:00,121.488,31.224,2016-08-07 21:20:00,121.468,31.233,"121.468,31.233#121.469,31.233#121.470,31.233#1..."
6,517706,99631,11258,2016-08-29 13:39:00,121.445,31.176,2016-08-29 13:54:00,121.447,31.192,"121.445,31.176#121.446,31.175#121.446,31.176#1..."
7,270836,63136,11361,2016-08-29 09:21:00,121.369,31.252,2016-08-29 13:43:00,121.376,31.233,"121.367,31.238#121.367,31.239#121.368,31.240#1..."
8,441362,331921,11705,2016-08-31 08:16:00,121.529,31.324,2016-08-31 08:19:00,121.532,31.323,"121.529,31.324#121.530,31.324#121.531,31.323#1..."
9,76435,347335,8135,2016-08-30 12:49:00,121.467,31.320,2016-08-30 13:03:00,121.447,31.318,"121.447,31.317#121.447,31.318#121.448,31.314#1..."
10,903987,13745,3117,2016-08-09 19:51:00,121.514,31.307,2016-08-09 19:59:00,121.510,31.304,"121.510,31.304#121.510,31.305#121.510,31.306#1..."
11,1749105,250190,8174,2016-08-26 17:57:00,121.385,31.166,2016-08-26 18:43:00,121.439,31.193,"121.384,31.166#121.385,31.166#121.386,31.166#1..."
12,760441,274835,17177,2016-08-31 09:53:00,121.419,31.292,2016-08-31 10:04:00,121.442,31.297,"121.419,31.292#121.420,31.292#121.420,31.293#1..."
13,163153,129925,9763,2016-08-09 08:33:00,121.551,31.279,2016-08-09 08:40:00,121.558,31.272,"121.551,31.278#121.551,31.279#121.552,31.277#1..."
14,1718308,291555,9867,2016-08-24 16:32:00,121.528,31.309,2016-08-24 16:45:00,121.523,31.321,"121.521,31.316#121.521,31.320#121.522,31.315#1..."
15,113197,277976,1499,2016-08-31 06:51:00,121.413,31.358,2016-08-31 07:08:00,121.432,31.356,"121.412,31.359#121.413,31.359#121.414,31.359#1..."
16,1660785,74378,3637,2016-08-06 22:30:00,121.590,31.243,2016-08-06 22:41:00,121.584,31.246,"121.585,31.246#121.586,31.245#121.586,31.246#1..."
17,1796188,210920,4156,2016-08-24 22:52:00,121.483,31.278,2016-08-24 23:02:00,121.473,31.273,"121.473,31.273#121.474,31.273#121.475,31.273#1..."
18,1725437,94034,10712,2016-08-31 21:31:00,121.442,31.264,2016-08-31 21:36:00,121.437,31.263,"121.437,31.262#121.437,31.263#121.438,31.261#1..."
19,974312,87103,4921,2016-08-08 17:31:00,121.437,31.294,2016-08-08 17:44:00,121.427,31.303,"121.427,31.303#121.428,31.303#121.429,31.298#1..."
20,1016344,319980,557,2016-08-29 20:20:00,121.466,31.185,2016-08-29 21:01:00,121.450,31.197,"121.450,31.196#121.450,31.197#121.451,31.195#1..."
21,4156,57862,2395,2016-08-09 02:34:00,121.384,31.188,2016-08-09 02:37:00,121.383,31.187,"121.383,31.187#121.383,31.188#121.384,31.188"
22,1013785,364751,14595,2016-08-30 12:17:00,121.388,31.268,2016-08-30 12:28:00,121.368,31.272,"121.368,31.272#121.369,31.272#121.369,31.273#1..."
23,420053,162491,13745,2016-08-20 14:25:00,121.432,31.180,2016-08-20 14:31:00,121.427,31.184,"121.426,31.182#121.427,31.182#121.427,31.183#1..."
24,737601,58198,6349,2016-08-01 17:57:00,121.513,31.302,2016-08-01 18:19:00,121.541,31.311,"121.513,31.302#121.513,31.303#121.514,31.302#1..."
25,1663013,9935,8929,2016-08-30 20:15:00,121.382,31.246,2016-08-30 20:22:00,121.380,31.251,"121.378,31.249#121.378,31.250#121.378,31.251#1..."
26,399789,292393,10700,2016-08-24 05:49:00,121.364,31.248,2016-08-24 05:58:00,121.367,31.237,"121.361,31.244#121.362,31.243#121.362,31.244#1..."
27,1399630,44728,5944,2016-08-22 18:27:00,121.506,31.329,2016-08-22 18:33:00,121.501,31.335,"121.499,31.336#121.499,31.337#121.500,31.336#1..."
28,773687,263024,15033,2016-08-24 07:45:00,121.464,31.193,2016-08-24 07:53:00,121.470,31.190,"121.464,31.192#121.464,31.193#121.465,31.192#1..."
29,466460,240822,12012,2016-08-21 22:13:00,121.533,31.318,2016-08-21 22:42:00,121.502,31.309,"121.502,31.308#121.502,31.309#121.503,31.308#1..."
...,...,...,...,...,...,...,...,...,...,...
102331,752209,264648,5474,2016-08-19 11:10:00,121.349,31.259,2016-08-19 11:16:00,121.354,31.261,"121.349,31.258#121.349,31.259#121.350,31.257#1..."
102332,1177538,94648,2319,2016-08-12 14:07:00,121.499,31.279,2016-08-12 14:11:00,121.502,31.275,"121.499,31.278#121.499,31.279#121.499,31.280#1..."
102333,194189,71476,7647,2016-08-10 08:47:00,121.403,31.130,2016-08-10 08:55:00,121.412,31.124,"121.402,31.128#121.402,31.129#121.403,31.127#1..."
102334,1612820,129498,9547,2016-08-06 19:21:00,121.501,31.275,2016-08-06 20:12:00,121.546,31.289,"121.501,31.275#121.502,31.275#121.503,31.276#1..."
102335,1676331,314831,15930,2016-08-28 20:23:00,121.460,31.328,2016-08-28 20:29:00,121.458,31.335,"121.458,31.335#121.459,31.328#121.459,31.329#1..."
102336,734652,333917,3905,2016-08-31 09:41:00,121.295,31.271,2016-08-31 09:53:00,121.304,31.272,"121.295,31.271#121.296,31.271#121.297,31.271#1..."
102337,947568,146806,9711,2016-08-27 14:47:00,121.495,31.170,2016-08-27 15:22:00,121.505,31.181,"121.494,31.170#121.494,31.171#121.494,31.177#1..."
102338,34563,203064,3038,2016-08-25 11:50:00,121.551,31.279,2016-08-25 11:55:00,121.554,31.273,"121.551,31.275#121.551,31.279#121.552,31.274#1..."
102339,375055,119804,6027,2016-08-01 11:27:00,121.532,31.315,2016-08-01 11:35:00,121.538,31.313,"121.532,31.314#121.532,31.315#121.533,31.314#1..."
102340,172833,66527,10097,2016-08-15 07:12:00,121.525,31.317,2016-08-15 07:19:00,121.531,31.321,"121.525,31.317#121.526,31.318#121.526,31.319#1..."
102341,405791,180713,5788,2016-08-20 14:01:00,121.405,31.235,2016-08-20 14:09:00,121.410,31.231,"121.404,31.232#121.405,31.231#121.405,31.232#1..."
102342,998890,175676,508,2016-08-23 13:14:00,121.432,31.259,2016-08-23 13:28:00,121.453,31.270,"121.432,31.259#121.433,31.259#121.434,31.259#1..."
102343,893197,214737,9990,2016-08-25 18:31:00,121.541,31.318,2016-08-25 18:39:00,121.532,31.314,"121.533,31.314#121.534,31.314#121.535,31.314#1..."
102344,1648715,11728,8836,2016-08-06 21:33:00,121.438,31.228,2016-08-06 21:40:00,121.430,31.234,"121.430,31.234#121.431,31.232#121.431,31.233#1..."
102345,48162,92143,3885,2016-08-08 00:19:00,121.436,31.320,2016-08-08 00:26:00,121.438,31.310,"121.436,31.318#121.436,31.319#121.436,31.320#1..."
102346,665032,6743,17715,2016-08-29 16:06:00,121.443,31.183,2016-08-29 16:08:00,121.441,31.178,"121.442,31.179#121.443,31.179#121.443,31.180#1..."
102347,1191602,301472,4041,2016-08-23 17:37:00,121.507,31.249,2016-08-23 17:58:00,121.515,31.269,"121.506,31.250#121.506,31.251#121.507,31.249#1..."
102348,1539900,185638,71,2016-08-31 18:09:00,121.422,31.171,2016-08-31 18:19:00,121.425,31.163,"121.421,31.171#121.422,31.171#121.423,31.171#1..."
102349,1449488,349625,414,2016-08-27 19:39:00,121.451,31.279,2016-08-27 20:17:00,121.425,31.295,"121.425,31.295#121.426,31.295#121.427,31.295#1..."
102350,1303672,80655,7520,2016-08-17 17:16:00,121.532,31.331,2016-08-17 17:22:00,121.531,31.323,"121.528,31.331#121.531,31.328#121.532,31.324#1..."
102351,657156,59970,5497,2016-08-31 09:09:00,121.372,31.119,2016-08-31 09:23:00,121.375,31.107,"121.372,31.118#121.372,31.119#121.373,31.117#1..."
102352,186351,24298,11196,2016-08-11 07:42:00,121.422,31.201,2016-08-11 07:46:00,121.420,31.197,"121.419,31.200#121.419,31.201#121.420,31.199#1..."
102353,1168582,322536,15738,2016-08-26 09:03:00,121.473,31.193,2016-08-26 09:10:00,121.471,31.202,"121.473,31.193#121.473,31.194#121.473,31.196#1..."
102354,182261,16353,2628,2016-08-03 10:05:00,121.498,31.288,2016-08-03 10:13:00,121.508,31.281,"121.498,31.287#121.498,31.288#121.499,31.287#1..."
102355,640008,329621,10791,2016-08-29 15:39:00,121.518,31.311,2016-08-29 15:48:00,121.523,31.322,"121.518,31.311#121.519,31.311#121.519,31.312#1..."
102356,1479550,214335,1423,2016-08-28 18:03:00,121.478,31.297,2016-08-28 18:09:00,121.481,31.304,"121.478,31.297#121.479,31.297#121.480,31.297#1..."
102357,1478273,160487,3067,2016-08-14 20:22:00,121.320,31.238,2016-08-14 20:28:00,121.312,31.235,"121.312,31.235#121.313,31.235#121.313,31.236#1..."
102358,367733,179530,12746,2016-08-27 09:54:00,121.391,31.307,2016-08-27 10:06:00,121.398,31.306,"121.390,31.307#121.391,31.307#121.392,31.307#1..."
102359,64915,167419,837,2016-08-20 06:04:00,121.515,31.269,2016-08-20 06:10:00,121.510,31.272,"121.510,31.272#121.510,31.273#121.511,31.273#1..."
102360,326987,63172,2547,2016-08-09 10:51:00,121.521,31.261,2016-08-09 11:01:00,121.518,31.274,"121.518,31.274#121.519,31.270#121.519,31.271#1..."

# 学习一下时间戳
- 时间戳是是从1970年1月1日早上8点开始，到现在某一时刻的毫秒值

In [23]:
data['订单开始时间']

0        2016-08-20 06:57:00
1        2016-08-29 19:09:00
2        2016-08-13 16:17:00
3        2016-08-23 21:34:00
4        2016-08-16 07:32:00
5        2016-08-07 21:00:00
6        2016-08-29 13:39:00
7        2016-08-29 09:21:00
8        2016-08-31 08:16:00
9        2016-08-30 12:49:00
10       2016-08-09 19:51:00
11       2016-08-26 17:57:00
12       2016-08-31 09:53:00
13       2016-08-09 08:33:00
14       2016-08-24 16:32:00
15       2016-08-31 06:51:00
16       2016-08-06 22:30:00
17       2016-08-24 22:52:00
18       2016-08-31 21:31:00
19       2016-08-08 17:31:00
20       2016-08-29 20:20:00
21       2016-08-09 02:34:00
22       2016-08-30 12:17:00
23       2016-08-20 14:25:00
24       2016-08-01 17:57:00
25       2016-08-30 20:15:00
26       2016-08-24 05:49:00
27       2016-08-22 18:27:00
28       2016-08-24 07:45:00
29       2016-08-21 22:13:00
                 ...
102331   2016-08-19 11:10:00
102332   2016-08-12 14:07:00
102333   2016-08-10 08:47:00
102334   2016-08-06 19:21:00
102335   2016-08-28 20:23:00
102336   2016-08-31 09:41:00
102337   2016-08-27 14:47:00
102338   2016-08-25 11:50:00
102339   2016-08-01 11:27:00
102340   2016-08-15 07:12:00
102341   2016-08-20 14:01:00
102342   2016-08-23 13:14:00
102343   2016-08-25 18:31:00
102344   2016-08-06 21:33:00
102345   2016-08-08 00:19:00
102346   2016-08-29 16:06:00
102347   2016-08-23 17:37:00
102348   2016-08-31 18:09:00
102349   2016-08-27 19:39:00
102350   2016-08-17 17:16:00
102351   2016-08-31 09:09:00
102352   2016-08-11 07:42:00
102353   2016-08-26 09:03:00
102354   2016-08-03 10:05:00
102355   2016-08-29 15:39:00
102356   2016-08-28 18:03:00
102357   2016-08-14 20:22:00
102358   2016-08-27 09:54:00
102359   2016-08-20 06:04:00
102360   2016-08-09 10:51:00
Name: 订单开始时间, Length: 102361, dtype: datetime64[ns]

# 把时间转换为时间戳

In [24]:
dtime = data['订单开始时间']

v = (dtime.values - np.datetime64('1970-01-01 08:00:00'))/np.timedelta64(1,'ms')
v

array([1.47164742e+12, 1.47246894e+12, 1.47107622e+12, ...,
       1.47226284e+12, 1.47164424e+12, 1.47071106e+12])

In [25]:
data['订单开始时间']= v
data.head()

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
0,78387,158357,10080,1.471647e+12,121.348,31.389,2016-08-20 07:04:00,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,1.472469e+12,121.508,31.279,2016-08-29 19:31:00,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,1.471076e+12,121.383,31.254,2016-08-13 16:36:00,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,1.471959e+12,121.484,31.320,2016-08-23 21:43:00,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,1.471304e+12,121.407,31.292,2016-08-16 07:41:00,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102361 entries, 0 to 102360
Data columns (total 10 columns):
订单编号      102361 non-null int64
车辆编号      102361 non-null int64
用户编号      102361 non-null int64
订单开始时间    102361 non-null float64
起始位置经度    102361 non-null float64
起始位置纬度    102361 non-null float64
订单结束时间    102361 non-null datetime64[ns]
结束位置经度    102361 non-null float64
结束位置纬度    102361 non-null float64
轨迹        102361 non-null object
dtypes: datetime64[ns](1), float64(5), int64(3), object(1)
memory usage: 7.8+ MB

# 时间戳转换为时间

In [27]:
data['订单开始时间'] = pd.to_datetime(data['订单开始时间'],unit='ms',origin=pd.Timestamp('1970-01-01 08:00:00'))
data.head()

,订单编号,车辆编号,用户编号,订单开始时间,起始位置经度,起始位置纬度,订单结束时间,结束位置经度,结束位置纬度,轨迹
0,78387,158357,10080,2016-08-20 06:57:00,121.348,31.389,2016-08-20 07:04:00,121.357,31.388,"121.347,31.392#121.348,31.389#121.349,31.390#1..."
1,891333,92776,6605,2016-08-29 19:09:00,121.508,31.279,2016-08-29 19:31:00,121.489,31.271,"121.489,31.270#121.489,31.271#121.490,31.270#1..."
2,1106623,152045,8876,2016-08-13 16:17:00,121.383,31.254,2016-08-13 16:36:00,121.405,31.248,"121.381,31.251#121.382,31.251#121.382,31.252#1..."
3,1389484,196259,10648,2016-08-23 21:34:00,121.484,31.320,2016-08-23 21:43:00,121.471,31.325,"121.471,31.325#121.472,31.325#121.473,31.324#1..."
4,188537,78208,11735,2016-08-16 07:32:00,121.407,31.292,2016-08-16 07:41:00,121.418,31.288,"121.407,31.291#121.407,31.292#121.408,31.291#1..."