In [2]:
import pandas as pd

In [4]:
data = pd.read_csv(open("salaries.csv",encoding='utf-8'))
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
# 这里的id有点多余了，要删掉
data.drop(['Id'],axis=1,inplace=True)

In [6]:
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
# 将列名修改为中文名字
data.columns=["员工姓名","员工职位","基本工资","加班工资","其他支付","福利","总共支付","总共支付加福利","入职年份","附加说明","代理","状态"]

In [8]:
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 计算员工的平均工资

In [10]:
data['基本工资'].mean()

66325.44884050643

# 计算员工加班工资最高的金额是多少

In [11]:
data['加班工资'].max()

245131.88

# 查看员工姓名等于ALBERT PARDINI的基本工资是多少

In [14]:
data[data['员工姓名'] == 'ALBERT PARDINI']['基本工资']

2    212739.13
Name: 基本工资, dtype: float64

# 查看入职年分都有几个，去掉这一列的重复值

In [16]:
data['入职年份'].nunique()

4

# 查看入职年份都有哪些

In [17]:
data['入职年份'].unique()

array([2011, 2012, 2013, 2014], dtype=int64)

# 查看收入最高的人是谁

In [20]:
data[data['总共支付加福利'] == data['总共支付加福利'].max()]

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [21]:
data[data['总共支付加福利'] == data['总共支付加福利'].max()]['员工姓名']

0    NATHANIEL FORD
Name: 员工姓名, dtype: object

# 每年所有员工的平均工资是多少

In [23]:
data.groupby('入职年份').mean()['基本工资']

入职年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 基本工资, dtype: float64

# 每年公司基本工资的总支出是多少（百万）

In [25]:
data.groupby('入职年份').sum()['基本工资']/1000000

入职年份
2011    2299.566192
2012    2405.834935
2013    2576.380748
2014    2537.369199
Name: 基本工资, dtype: float64

# 从业人数最多的岗位的前5名(3种方式)

In [28]:
data.groupby('员工职位').count()['员工姓名'].sort_values(ascending=False)

员工职位
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
FIELD SERVICES ASSISTANT SUPERVISOR                      1
FORENSIC TOXICOLOGIST                                    1
Forensic Toxicologist Supervis                           1
GLAZIER SUPERVISOR I                                     1
Special Assistant 8                                      1
DIRECTOR, PROBATION SERVICES                             1
TRAFFIC SIGNAL OPERATOR                                  1
DIRECTOR, JUVENILE HALL                                  1
Cfdntal Sctry to Distric Atty                            1
TRAFFIC SIGN MANAGER                                     1
TRAFFIC HEARING OFFICER                                  1
TRAF SIGNAL ELECTRICIAN SUP II                           1
Chief Forensic Toxicologist                              1
Chief Investment Officer                                 1
TRAF SIGNAL ELECTRICIAN SUP I                            1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY       1
Civil Case Settlmnt Specialist                           1
TELECOMMUNICATIONS TECHNICIAN SUPERVISOR                 1
Supervising Mediator, UFCS                               1
Conversion                                               1
Court Supervisor I                                       1
Sr Sprv Prob Ofc, Juv Prob                               1
DEPUTY DIRECTOR OF INVESTMENTS                           1
DEPUTY SEALER OF WEIGHTS AND MEASURES                    1
Sr Cnselor, Juv Hall (SFERS)                             1
DIRECTOR, EMPLOYEE RELATIONS DIVISION                    1
DIRECTOR, FISCAL SERVICES                                1
DIRECTOR, HUMAN RESOURCES                                1
DIRECTOR, INFORMATION TECHNOLOGY GROUP                   1
ZOO CURATOR                                              1
Name: 员工姓名, Length: 2159, dtype: int64

In [31]:
data.groupby('员工职位').count().sort_values(by='员工姓名',ascending = False)['员工姓名']

员工职位
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
Custodian                                             2418
TRANSIT OPERATOR                                      2388
Firefighter                                           2359
Recreation Leader                                     1971
Patient Care Assistant                                1945
Deputy Sheriff                                        1933
Police Officer                                        1476
SPECIAL NURSE                                         1402
Public Service Trainee                                1328
REGISTERED NURSE                                      1219
Police Officer 2                                      1141
Attorney (Civil/Criminal)                             1126
Porter                                                1095
Sergeant 3                                            1047
General Laborer                                       1033
EMT/Paramedic/Firefighter                              918
Gardener                                               894
Parking Control Officer                                868
Senior Clerk                                           840
Library Page                                           799
CUSTODIAN                                              796
FIREFIGHTER                                            794
POLICE OFFICER III                                     779
Clerk                                                  764
Eligibility Worker                                     760
                                                      ...
PUBLIC DEFENDER                                          1
COMMUNICATIONS DIRECTOR                                  1
PRINCIPAL RECREATION SUPERVISOR                          1
PRINCIPAL MUSEUM PREPARATOR                              1
Police Services Aide                                     1
Pr DistAtty Invstgtor,SpecUnit                           1
SENIOR FOOD SERVICE SUPERVISOR                           1
CARPENTER SUPERVISOR II                                  1
SENIOR EMPLOYEE ASSISTANCE COUNSELOR                     1
SENIOR DATA ENTRY OPERATOR                               1
Auto Body&Fender Wrk Asst Sprv                           1
SENIOR CLAIMS INVESTIGATOR                               1
SENIOR BOOK REPAIRER                                     1
SECRETARY,JUVENILE PROBATION COMMISSION                  1
SECRETARY, LIBRARY COMMISSION                            1
SECRETARY, HUMAN SERVICES COMMISSION                     1
SECRETARY, HEALTH COMMISSION                             1
SECRETARY, COMMISSION ON THE ENVIRONMENT                 1
SECRETARY TO THE PRESIDING JUDGE                         1
BAKER                                                    1
BARBER                                                   1
BOARD SECRETARY - MUNICIPAL TRANSPORTATION AGENC         1
ROOFER SUPERVISOR I                                      1
RENT BOARD SUPERVISOR                                    1
BRAILLIST                                                1
BUILDING SERVICES TECHNICIAN                             1
Public Service Aide-Technical                            1
Public Safety Comm Tech                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
ZOO CURATOR                                              1
Name: 员工姓名, Length: 2159, dtype: int64

In [33]:
data['员工职位'].value_counts().head(6)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
Name: 员工职位, dtype: int64

# 学习一下lambda

In [35]:
def two_number_add(a,b):
    return a+b
two_number_add(1,2)

3

In [36]:
add = lambda a,b:a+b
add(1,2)

3